<%= form_with url: "/", method: :get, local: true, class: "form" do |f| %>
  <div class="form-group">
    <%= f.label :search_id, "ID del usuario" %>
    <%= f.number_field :search_id, class: "input" %>
  </div>

  <div>
    <%= f.submit "Buscar usuario", class: "btn" %>
  </div>
<% end %>

<% if defined?(@requestedUser) && @requestedUser.present? %>
  <div class="result-box">
    <h3>Usuario encontrado</h3>
    <ul class="result-list">
      <li><strong>ID:</strong> <%= @requestedUser.id %></li>
      <li><strong>Nombre:</strong> <%= @requestedUser.name %></li>
      <li><strong>Email:</strong> <%= @requestedUser.email %></li>
      <li><strong>Identificación:</strong> <%= @requestedUser.identification %></li>
    </ul>
  </div>
<% end %>
